body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../img/intranet_banner_tssi.png");
  height: 416px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
