$scarlet: #FF2500;
$midnight-express: #01093F;
$link-water: #CFD0D7;
$mischka: #A5A7B1;
$tifanny-cyan: #0bc1af;
$dark-cyan: #019A8B;
$space: #AABBCC;
$gray: #979797;
$baby-blue: #016BB7;
$baby-pink: #FFB0A1;
$blue-gray: #9195B1;
$black: #000000;
$email: #88ccff;
