html, body, header, .view {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
/* Typhography */
.scarlet-text {
  color: #FF2500 !important;
}
.midnight-express-text {
  color: #01093F !important;
}
.link-water-text {
  color: #CFD0D7 !important;
}
.mischka-text {
  color: #A5A7B1 !important;
}
.tifanny-cyan-text {
  color: #0bc1af !important;
}
.dark-cyan-text{
  color: #019A8B !important;
}
.space-text{
  color: #AABBCC !important;
}
.gray-text{
  color: #979797 !important;
}
.baby-blue-text{
  color: #016BB7 !important;
}
.baby-pink-text{
  color: #FFB0A1 !important;
}
.blue-gray-text{
  color: #9195B1 !important;
}
.black-text {
  color: #000000 !important;
}
.text-email{
  color: #88ccff !important;
}
/* Typhography */

/* Backgound */
.midnight-express-bg {
  background: #01093F !important;
}
.midnight-express-bg-30pct {
  background: rgb(1, 9, 63, 30%) !important
}
.ghost-white-bg{
  background: #F5F5F8 !important;
}
.nobel-bg{
  background: #979797 !important;
}
.mischka-bg {
  background: #A5A7B1 !important;
}
.dark-cyan-bg{
  background: #019A8B !important;
}
.navy-blue-bg{
  background: #01093F !important;
}
.black-bg{
  background: #000000 !important;
}
.gray-bg{
  background: #F6F6F6 !important;
}
/* Backgound */
/* Height */
.h-100vh{
  height: 100vh !important;
}
.h-25vh{
  height: 25vh !important;
}
/* Height */
.intro-front-view {
    background: url("../img/welcome-banner.jpeg")no-repeat center center;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #01093F;
}
/* cards */
.services .card-img-top{
  width: 40%;
  margin: 40px auto !important;
}
.services .card-top-content{
  height: 90px !important;
}
.services  .card-deck .card .card-body .card-title, .joinUs  .card-deck .card .card-body .card-title{
  margin-top: 25%;
}
/* cards */

/* Backgound image sizing */
.bg-img-w250px-h250px{
  width: 250px;
  height: 250px;
  background-color: #F5F5F8;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Backgound image sizing */

/* flipping cards */
.flip-card {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}
.flip-card-front img{
  width: 30% !important;
  height: auto !important;
  margin:  40px auto;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f1f2f9;
  color: black;
}

.flip-card-back {
  background-color: #14143f;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* flipping cards */
#Gallery .navigation{
  right: auto !important;
  left: 45% !important;
}
/* swing image */
.figure-center{
  margin-left: -30px;
}
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
/* swing image */
/* media screen */
@media (max-width: 575px) {
  .services  .card-deck .card .card-body .card-title, .joinUs  .card-deck .card .card-body .card-title{
    margin-top: 0 !important;
  }
  .services .card-img-top{
    width: 40%;
    margin: 10 auto !important;
  }
  .services .card-top-content{
    height: 40% !important;
  }
  .figure-center {
    margin-left: -4rem;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
      background-color: #01093F;
  }
  .services .card-img-top{
    width: 40%;
    margin: 25px auto !important;
  }
  .services .card-top-content{
    height: 45px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services .card-img-top{
    width: 40%;
    margin: 30px auto !important;
  }
  .services .card-top-content{
    height: 60px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}

/* media screen */
